/*********
 *GENERAL*
 *********/

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #76058d;
}

/********
 *HEADER*
 ********/

 header {
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    font-size: 3em;
}


/******
 *MAIN*
 ******/

 #container {
    width: 100%;
}

#container > #game-wraper {
    background-color: darkcyan;
    margin: 0 auto;
    padding: 20px;
    width: 450px;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#container > #game-wraper > .color-button {
    width: 200px;
    height: 200px;
}

#container > #game-wraper > .red {
    background-color: red;
    opacity: 0.5;
}

#container > #game-wraper > .yellow {
    background-color: yellow;
    opacity: 0.5;
}

#container > #game-wraper > .green {
    background-color: green;
    opacity: 0.5;
}

#container > #game-wraper > .blue {
    background-color: blue;
    opacity: 0.5;
}

#container > #game-wraper > .color-button.active {
    opacity: 1;
}


/*******
 *DEBUG*
 *******/